#container
{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 500px; /* largeur obligatoire pour être centré */
    padding: 10px;
}

#fenetre_de_chat
{
    background-color: coral;
}

#form_chat
{
    display: flex;
    justify-content: space-between;
}

